body .arabic {
font-family: "Noto Sans Arabic", sans-serif;
}

body .eng {
font-family: "Poppins", sans-serif;
}

body .jap {
font-family: "Noto Sans JP", sans-serif;

}

.container {
    max-width: 1400%;
    margin: 0 auto;
}


header {
background-image: linear-gradient(rgba(227, 185, 201, 0.488), rgba(55, 22, 38, 0.4)), url(../styles/imgs/hero.jpeg);
background-repeat: no-repeat;
background-size: cover;
color: white;
text-align: center;
padding: 30px;
}

header .eng {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}

header .arabic {
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 1.5;
}

header .jap {
  font-weight: 800;
  letter-spacing: 10px;
  font-style: normal;
  font-size: 60px;
  padding-top: 30px;
}

header a {
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    background-color: white;
    color: palevioletred;
    padding: 16px 32px;
    border-radius: 10px;
    display: inline-block;
    margin: 40px 30px;
}

iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

.youtube {
    color: #9e747f;
}

.two-grid {
display: grid;
grid-template-columns: 1fr 1fr;
text-align: center;
grid-gap: 0;
}

footer {
background-color: #9e747f;
color: white;
padding: 30px 60px;
}

footer li {
    list-style: none;
}

footer a {
    color: white;
    opacity: 0.7;
    margin: 0;
    padding: 0;
    font-size: small;
}

footer p {
    font-size: small;
    opacity: 0.7;
}

.footer-grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 64px;
}

@media (max-width: 960) {
    
}